
{% extends 'base.html'%}


{% block header%}

{% endblock %}

{% block content %}
<h2>Formulario de Contacto</h2>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        {{ form.nombre }}
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        {{ form.email }}
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    
    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje:</label>
        {{ form.mensaje }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

  
{% endblock %}
{% block sidebar %}
{% endblock %}






















