<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <h1>Últimos POST</h1>
  
    <div class="container">
        {% for post in ultimosPosts %}
        <div class="card">
            {% if post.imagen %}
                <img src="{{ post.imagen.url }}" alt="Post Image">
            {% else %}
                <img src="https://via.placeholder.com/300x200?text=No+Image" alt="Placeholder Image">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ post.titulo }}</h2>
                <p class="card-summary">{{ post.resumen }}</p>
                <p class="card-content">{{ post.contenido|truncatewords:20 }}</p>
                <p class="card-author">Creado: {{ post.autor.username }}</p>
                <p class="card-date">Publicado: {{ post.fecha_publicacion }}</p>
                <p class="card-categories">
                    Categories: 
                    {% for categoria in post.categorias.all %}
                        {{ categoria.nombre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <a href="{url ''}" > Ver detalle</a>
            </div>
        </div>
        {% empty %}
        <p class="no-posts">No posts available.</p>
        {% endfor %}
    </div>


    <script src="{% static 'js/app.js' %}"></script>
   </body>
</html>
